{% comment %} variables set on footer links linking to hc page - am {% endcomment %}

<script type="text/javascript">
  //window.onload = function(){
   // var helpReturns = document.getElementById("help-returns");

    //if (helpReturns != null){
      //helpReturns.onclick = function() {
       // var markup = ' link.title ';

      //  output = `
       // <p class="social_link">
       //   <a href="/pages/help-center" data-help="shipping">${markup}</a>
       // </p>
     // `;
    //  }
    //  return output;
    //}

//  window.onload = function(){
 //   (function test5() {
//      var test2 = 'test2';

 //     if (test2 === 'test2'){
 //       console.log('log 30) link script');
 //     } else {
 //       console.log('log 31) link script');
 //     }
 //   })();
// }


  //set global variable  
  window.helpSection3 = "returns3"; // = data-attribute value


  function helpCenterLink() {
  //needs a no-JS href link

    // if helpReturns or some ID, get data attribute


    //
    //var helpReturns = document.getElementById("route-help");

    //if (helpReturns){  // change this. check each data attribute value
    //  console.log('log 30) link script');
    //  console.log('log 33) window.helpSection3 = '+ window.helpSection3);
    //} else {
    //  console.log('log 31) no relevant links');
    //}

    //then route to HC page
    window.location.href = '/pages/help-center';

  }
</script>