{% comment %} top (left side) navigation for help center - am {% endcomment %}

{% assign help_counter = 0 %}
{%- for block in section.blocks -%}
  {% case block.type %}
    {% when 'question'%}
      {% assign help_counter = help_counter | plus: 1 %}
      {% assign block_id = block.id | append: '-' | append: help_counter %}
      {% comment %} <h5>block_id = {{block_id }}</h5> {% endcomment %}
      {% if block.settings.anchor_link != empty %}{% assign block_anchor_link = block.settings.anchor_link %}{% endif %}
      {% assign block_title = block.settings.title %}
  {% endcase %}

{% endfor %}





<div id="helpCenterNav2" class="">
  <div style="position:relative;">
    <div style="background: #171717; overflow-x: scroll; overflow-y: hidden; display: flex;">
      <ul style="margin: 0 auto; padding: 0 20px; white-space: nowrap; display: flex;
          -webkit-box-pack: center;justify-content: center; list-style: none;transition: opacity .5s cubic-bezier(.25,.46,.45,.94);
          margin-block-start: 4px; margin-block-end: 1em; margin-inline-start: 0px; margin-inline-end: 0px; "> {% comment %} padding-inline-start: 40px; {% endcomment %}
        <li 
              style=" box-sizing: border-box; height: 50px; padding: 2px 16px 0; display: flex;
              -webkit-box-align: center; align-items: center; transition: padding .2s cubic-bezier(.25,.46,.45,.94); text-align: -webkit-match-parent;">
          <h4 style="margin:unset;  font-size: 13px;  color: #fff; outline: 0;display: inline-block;
              padding: 0 0 0.35em;box-sizing: border-box; overflow: hidden; position: relative;text-transform: uppercase; background-color: transparent;    cursor: pointer;">
            Refunds & Returns
          </h4>
          <div style="visibility: visible; height: auto;
              position: absolute;
              background: #808080;  top: 55px; left: 0; width: 100%; z-index: 1; overflow-x: scroll; overflow-y: hidden; display: flex;">
            <ul style="margin: 0 auto; padding: 0 20px; white-space: nowrap;display: flex;  -webkit-box-pack: center; margin-block-start: 0px;
                margin-block-end: 0px; margin-inline-start: 0px; margin-inline-end: 0px; justify-content: center; list-style: none;"> {% comment %} padding-inline-start: 40px; {% endcomment %}
              <li style=" box-sizing: border-box; height: 50px; padding: 2px 16px 0;display: flex;  -webkit-box-align: center;    align-items: center;    
                  transition: padding .2s cubic-bezier(.25,.46,.45,.94); text-align: -webkit-match-parent; ">
                <h4 style="margin:unset; font-size: 13px; color: #fff; outline: 0;display: inline-block; padding: 0 0 0.35em;box-sizing: border-box; overflow: hidden;
                    position: relative;  background-color: transparent;">
                  Returns Policy
                </h4>
              </li>
              <li style=" box-sizing: border-box; height: 50px; padding: 2px 16px 0;display: flex;  -webkit-box-align: center;    align-items: center;    
                  transition: padding .2s cubic-bezier(.25,.46,.45,.94); text-align: -webkit-match-parent; ">
                <h4 style="margin:unset; font-size: 13px; color: #fff; outline: 0;display: inline-block; padding: 0 0 0.35em;box-sizing: border-box; overflow: hidden;
                    position: relative;  background-color: transparent;">
                  Returns Policy 22
                </h4>
              </li>
              <li style=" box-sizing: border-box; height: 50px; padding: 2px 16px 0;display: flex;  -webkit-box-align: center;    align-items: center;    
                  transition: padding .2s cubic-bezier(.25,.46,.45,.94); text-align: -webkit-match-parent; ">
                <h4 style="margin:unset; font-size: 13px; color: #fff; outline: 0;display: inline-block; padding: 0 0 0.35em;box-sizing: border-box; overflow: hidden;
                    position: relative;  background-color: transparent;">
                  Returns Policy 339
                </h4>
              </li>
            </ul>
          </div>
        </li>


      </ul>
      
    </div>
  </div>
</div>






<style>
/*@media (min-width: 1021px) {*/
  .help-center-nav {
    display:none;
  }
/*}*/


.help-center .sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}
.help-center .sticky + .help-center-right {
  padding-top: 102px;
}





.help-center-nav .subheading-left {
  border-bottom-color: #ffffff00 !important;
}
</style>



<script>
  window.onscroll = function() { stickyHelp2()};

  var helpHeader2 = document.getElementById("helpCenterNav2");
  var stickyLeft2 = helpHeader2.offsetTop;

  function stickyHelp2() {
    console.log('log 81) window.pageYOffset = '+ window.pageYOffset );
    console.log('log 82) stickyLeft2  = '+ stickyLeft2 );

    if (window.pageYOffset > stickyLeft2) {
      helpHeader2.classList.add("sticky");
    } else {
      helpHeader2.classList.remove("sticky");
    }
  }
</script>