

<div class="{% unless template == 'page.terms' %} index-section {% endunless %}">
<div class="page-width">


<div id="help-center-body" class="help-center__body-wrap">

{% comment %} left container {% endcomment %}

<aside class="help-center__sidebar" style="">
    <div data-scrollmagic-pin-spacer="" class="scrollmagic-pin-spacer" style="inset: auto; margin: 0px; display: block; position: relative; box-sizing: content-box; min-height: 984px; height: auto; padding-top: 0px; padding-bottom: 984.15px;"><div class="help-center__sidebar-container" style="position: relative; margin: auto; inset: 0px auto auto 0px; box-sizing: border-box; width: 100%;">
        <div class="help-center__sidebar-inner">
            
<nav class="help-center__nav">
<div class="help-center__main-nav-wrap">
<ul class="help-center__main-nav">                                  <li class="help-center__item" data-segment="brand">
    <a href="https://www.vermicular.us/help-center/brand">Brand</a>

                                    
                        <div class="help-center__sub-nav-wrap" style="visibility: visible; height: auto; display: none;">
            <ul class="help-center__sub-nav">
                                    <li class="help-center__item" data-segment="about-us">
    <a href="https://www.vermicular.us/help-center/brand/about-us">About Us</a>

                    
        <div class="help-center__tertiary-nav-wrap" style="visibility: visible; height: auto; display: none;">
            <ul class="help-center__tertiary-nav">
                                                                                            <li class="help-center__item" data-segment="our-history">
                    <a href="https://www.vermicular.us/help-center/brand/about-us/our-history">Our history</a>
                </li>
                                                                    <li class="help-center__item" data-segment="our-name">
                    <a href="https://www.vermicular.us/help-center/brand/about-us/our-name">Our name</a>
                </li>
                                                                    <li class="help-center__item" data-segment="made-in-japan">
                    <a href="https://www.vermicular.us/help-center/brand/about-us/made-in-japan">Made in Japan</a>
                </li>
                                                                    <li class="help-center__item" data-segment="non-toxic-materials">
                    <a href="https://www.vermicular.us/help-center/brand/about-us/non-toxic-materials">Non-toxic materials</a>
                </li>
                                    </ul>
        </div>

                    
                </li>
                    <li class="help-center__item " data-segment="store-locations">
    <a href="https://www.vermicular.us/help-center/brand/store-locations">Store Locations</a>

                    
        <div class="help-center__tertiary-nav-wrap">
            <ul class="help-center__tertiary-nav">
                                                                                            <li class="help-center__item " data-segment="stockists">
                    <a href="https://www.vermicular.us/help-center/brand/store-locations/stockists">US &amp; Canada stockists</a>
                </li>
                                                                    <li class="help-center__item " data-segment="vermicular-village">
                    <a href="https://www.vermicular.us/help-center/brand/store-locations/vermicular-village">Vermicular Village | Nagoya</a>
                </li>
                                                                    <li class="help-center__item " data-segment="vermicular-house">
                    <a href="https://www.vermicular.us/help-center/brand/store-locations/vermicular-house">Vermicular House | Tokyo</a>
                </li>
                                    </ul>
        </div>

                    
                </li>
                    </ul>
        </div>
                </li>
                    <li class="help-center__item is-open active" data-segment="product-guides">
    <a href="https://www.vermicular.us/help-center/product-guides">Product Guides</a>

                                    
                        <div class="help-center__sub-nav-wrap" style="visibility: visible; height: auto;">
            <ul class="help-center__sub-nav">
                                    <li class="help-center__item is-open active" data-segment="musui-kamado">
    <a href="https://www.vermicular.us/help-center/product-guides/musui-kamado">Musui–Kamado</a>

                    
        <div class="help-center__tertiary-nav-wrap" style="visibility: visible; height: auto; display: block;">
            <ul class="help-center__tertiary-nav">
                                                                                            <li class="help-center__item active" data-segment="general">
                    <a href="https://www.vermicular.us/help-center/product-guides/musui-kamado/general">General</a>
                </li>
                                                                    <li class="help-center__item" data-segment="quick-start-guide">
                    <a href="https://www.vermicular.us/help-center/product-guides/musui-kamado/quick-start-guide">Quick-Start Guide</a>
                </li>
                                                                    <li class="help-center__item" data-segment="cooking">
                    <a href="https://www.vermicular.us/help-center/product-guides/musui-kamado/cooking">Cooking</a>
                </li>
                                                                    <li class="help-center__item" data-segment="cleaning-care">
                    <a href="https://www.vermicular.us/help-center/product-guides/musui-kamado/cleaning-care">Cleaning &amp; Care</a>
                </li>
                                                                    <li class="help-center__item" data-segment="warranty">
                    <a href="https://www.vermicular.us/help-center/product-guides/musui-kamado/warranty">Warranty</a>
                </li>
                                    </ul>
        </div>

                    
                </li>
                    <li class="help-center__item" data-segment="oven-pot">
    <a href="https://www.vermicular.us/help-center/product-guides/oven-pot">Oven Pot</a>

                    
        <div class="help-center__tertiary-nav-wrap" style="visibility: visible; height: auto; display: none;">
            <ul class="help-center__tertiary-nav">
                                                                                            <li class="help-center__item" data-segment="general">
                    <a href="https://www.vermicular.us/help-center/product-guides/oven-pot/general">General</a>
                </li>
                                                                    <li class="help-center__item" data-segment="quick-start-guide">
                    <a href="https://www.vermicular.us/help-center/product-guides/oven-pot/quick-start-guide">Quick-Start Guide</a>
                </li>
                                                                    <li class="help-center__item" data-segment="cooking">
                    <a href="https://www.vermicular.us/help-center/product-guides/oven-pot/cooking">Cooking</a>
                </li>
                                                                    <li class="help-center__item" data-segment="cleaning-care">
                    <a href="https://www.vermicular.us/help-center/product-guides/oven-pot/cleaning-care">Cleaning &amp; Care</a>
                </li>
                                                                    <li class="help-center__item" data-segment="warranty">
                    <a href="https://www.vermicular.us/help-center/product-guides/oven-pot/warranty">Warranty</a>
                </li>
                                    </ul>
        </div>

                    
                </li>
                    <li class="help-center__item " data-segment="frying-pan">
    <a href="https://www.vermicular.us/help-center/product-guides/frying-pan">Vermicular Frying Pan</a>

                    
        <div class="help-center__tertiary-nav-wrap">
            <ul class="help-center__tertiary-nav">
                                                                                            <li class="help-center__item " data-segment="general">
                    <a href="https://www.vermicular.us/help-center/product-guides/frying-pan/general">General</a>
                </li>
                                                                    <li class="help-center__item " data-segment="quick-start-guide">
                    <a href="https://www.vermicular.us/help-center/product-guides/frying-pan/quick-start-guide">Quick-Start Guide</a>
                </li>
                                                                    <li class="help-center__item " data-segment="cooking">
                    <a href="https://www.vermicular.us/help-center/product-guides/frying-pan/cooking">Cooking</a>
                </li>
                                                                    <li class="help-center__item " data-segment="cleaning-care">
                    <a href="https://www.vermicular.us/help-center/product-guides/frying-pan/cleaning-care">Cleaning &amp; Care</a>
                </li>
                                                                    <li class="help-center__item " data-segment="warranty">
                    <a href="https://www.vermicular.us/help-center/product-guides/frying-pan/warranty">Warranty</a>
                </li>
                                    </ul>
        </div>

                    
                </li>
                    <li class="help-center__item" data-segment="oven-safe-skillet">
    <a href="https://www.vermicular.us/help-center/product-guides/oven-safe-skillet">Oven-Safe Skillet</a>

                    
        <div class="help-center__tertiary-nav-wrap" style="visibility: visible; height: auto; display: none;">
            <ul class="help-center__tertiary-nav">
                                                                                            <li class="help-center__item" data-segment="general">
                    <a href="https://www.vermicular.us/help-center/product-guides/oven-safe-skillet/general">General</a>
                </li>
                                                                    <li class="help-center__item" data-segment="quick-start-guide">
                    <a href="https://www.vermicular.us/help-center/product-guides/oven-safe-skillet/quick-start-guide">Quick-Start Guide</a>
                </li>
                                                                    <li class="help-center__item" data-segment="cooking">
                    <a href="https://www.vermicular.us/help-center/product-guides/oven-safe-skillet/cooking">Cooking</a>
                </li>
                                                                    <li class="help-center__item" data-segment="cleaning-care">
                    <a href="https://www.vermicular.us/help-center/product-guides/oven-safe-skillet/cleaning-care">Cleaning &amp; Care</a>
                </li>
                                                                    <li class="help-center__item" data-segment="warranty">
                    <a href="https://www.vermicular.us/help-center/product-guides/oven-safe-skillet/warranty">Warranty</a>
                </li>
                                    </ul>
        </div>

                    
                </li>
                    <li class="help-center__item " data-segment="accessories">
    <a href="https://www.vermicular.us/help-center/product-guides/accessories">Accessories</a>

                    
        <div class="help-center__tertiary-nav-wrap">
            <ul class="help-center__tertiary-nav">
                                                                                            <li class="help-center__item " data-segment="magnetic-trivet">
                    <a href="https://www.vermicular.us/help-center/product-guides/accessories/magnetic-trivet">Magnetic Trivet</a>
                </li>
                                                                    <li class="help-center__item " data-segment="pot-holders">
                    <a href="https://www.vermicular.us/help-center/product-guides/accessories/pot-holders">Pot Holders</a>
                </li>
                                    </ul>
        </div>

                    
                </li>
                    </ul>
        </div>
                </li>
                    <li class="help-center__item" data-segment="orders-shipping">
    <a href="https://www.vermicular.us/help-center/orders-shipping">Orders &amp; Shipping</a>

                                    
                        <div class="help-center__sub-nav-wrap" style="visibility: visible; height: auto; display: none;">
            <ul class="help-center__sub-nav">
                                    <li class="help-center__item" data-segment="orders">
    <a href="https://www.vermicular.us/help-center/orders-shipping/orders">Orders</a>

                    
        <div class="help-center__tertiary-nav-wrap" style="visibility: visible; height: auto; display: none;">
            <ul class="help-center__tertiary-nav">
                                                                                            <li class="help-center__item" data-segment="discounts">
                    <a href="https://www.vermicular.us/help-center/orders-shipping/orders/discounts">Discounts</a>
                </li>
                                                                    <li class="help-center__item" data-segment="amazon-listings">
                    <a href="https://www.vermicular.us/help-center/orders-shipping/orders/amazon-listings">Amazon.com listings</a>
                </li>
                                                                    <li class="help-center__item" data-segment="gift-orders">
                    <a href="https://www.vermicular.us/help-center/orders-shipping/orders/gift-orders">Gift orders</a>
                </li>
                                                                    <li class="help-center__item" data-segment="cookbooks-in-other-languages">
                    <a href="https://www.vermicular.us/help-center/orders-shipping/orders/cookbooks-in-other-languages">Cookbooks in other languages</a>
                </li>
                                                                    <li class="help-center__item" data-segment="modifying-or-canceling-an-order">
                    <a href="https://www.vermicular.us/help-center/orders-shipping/orders/modifying-or-canceling-an-order">Modifying or canceling an order</a>
                </li>
                                    </ul>
        </div>

                    
                </li>
                    <li class="help-center__item" data-segment="shipping">
    <a href="https://www.vermicular.us/help-center/orders-shipping/shipping">Shipping</a>

                    
        <div class="help-center__tertiary-nav-wrap" style="visibility: visible; height: auto;">
            <ul class="help-center__tertiary-nav">
                                                                                            <li class="help-center__item" data-segment="shipping-cost">
                    <a href="https://www.vermicular.us/help-center/orders-shipping/shipping/shipping-cost">Shipping cost</a>
                </li>
                                                                    <li class="help-center__item" data-segment="expedited-shipping">
                    <a href="https://www.vermicular.us/help-center/orders-shipping/shipping/expedited-shipping">Expedited shipping</a>
                </li>
                                                                    <li class="help-center__item" data-segment="shipping-timeline">
                    <a href="https://www.vermicular.us/help-center/orders-shipping/shipping/shipping-timeline">Shipping timeline</a>
                </li>
                                                                    <li class="help-center__item" data-segment="po-boxes">
                    <a href="https://www.vermicular.us/help-center/orders-shipping/shipping/po-boxes">PO Boxes &amp; APO/FPO/DPO</a>
                </li>
                                                                    <li class="help-center__item" data-segment="overseas-shipping">
                    <a href="https://www.vermicular.us/help-center/orders-shipping/shipping/overseas-shipping">Overseas shipping</a>
                </li>
                                                                    <li class="help-center__item" data-segment="order-status">
                    <a href="https://www.vermicular.us/help-center/orders-shipping/shipping/order-status">Order status</a>
                </li>
                                                                    <li class="help-center__item" data-segment="multi-piece-shipments">
                    <a href="https://www.vermicular.us/help-center/orders-shipping/shipping/multi-piece-shipments">Multi-piece shipments</a>
                </li>
                                    </ul>
        </div>

                    
                </li>
                    </ul>
        </div>
                </li>
                    <li class="help-center__item " data-segment="returns-exchanges">
    <a href="https://www.vermicular.us/help-center/returns-exchanges">Returns &amp; Exchanges</a>

                                    
                        <div class="help-center__sub-nav-wrap">
            <ul class="help-center__sub-nav">
                                    <li class="help-center__item " data-segment="returns">
    <a href="https://www.vermicular.us/help-center/returns-exchanges/returns">Returns</a>

                    
        <div class="help-center__tertiary-nav-wrap">
            <ul class="help-center__tertiary-nav">
                                                                                            <li class="help-center__item " data-segment="return-policy">
                    <a href="https://www.vermicular.us/help-center/returns-exchanges/returns/return-policy">Return policy</a>
                </li>
                                    </ul>
        </div>

                    
                </li>
                    <li class="help-center__item " data-segment="exchanges">
    <a href="https://www.vermicular.us/help-center/returns-exchanges/exchanges">Exchanges</a>

                    
        <div class="help-center__tertiary-nav-wrap">
            <ul class="help-center__tertiary-nav">
                                                                                            <li class="help-center__item " data-segment="exchange-policy">
                    <a href="https://www.vermicular.us/help-center/returns-exchanges/exchanges/exchange-policy">Exchange policy</a>
                </li>
                                    </ul>
        </div>

                    
                </li>
                    </ul>
        </div>
                </li>
    </ul>
</div>
</nav>                    
            <div class="help-center__contact-wrap--desktop">
                <div class="help-center__contact">
<h3 class="help-center__contact-heading">
Contact Support
</h3>
<div class="help-center__contact-email">

    <script type="text/javascript">Rot13.write('<n uers="znvygb:fhccbeg@irezvphyne.hf?fhowrpg=Jrofvgr vadhvel"><vzt fep="uggcf://jjj.irezvphyne.hf/nffrgf/vzt/vpba_znvy.fit" nyg=""><fcna>fhccbeg@irezvphyne.hf</fcna></n>');</script><a href="mailto:support@vermicular.us?subject=Website inquiry"><img src="https://www.vermicular.us/assets/img/icon_mail.svg" alt=""><span>support@vermicular.us</span></a><noscript><span style="unicode-bidi:bidi-override;direction:rtl;">>naps/<su.ralucimrev@troppus>naps<>""=tla "gvs.liam_noci/gmi/stessa/su.ralucimrev.www//:sptth"=crs gmi< < su.ralucimrev@troppus > </span></noscript>
</div>
</div>                        </div>
        </div>
    </div></div>
</aside>

{% comment %} right container {% endcomment %}
<div class="help-center__main js-parallax-bg" style="background-position: center 0px;">
    <div class="help-center__main-inner">
        <div class="help-center__main-wrap" style="">
            


<div class="help-center__container" data-type="subcategory">


        
<div class="help-center-drawer is-open" data-segment="general">
<h2 class="help-center-drawer__title"><a href="https://www.vermicular.us/help-center/product-guides/musui-kamado/general">General</a></h2>
<div class="help-center-drawer__body" style="display: block;">


                            <div class="help-center-accordion">
                                                <div class="help-center-accordion__item is-open" data-hash="overview">
                        <h3 class="help-center-accordion__heading"><a href="https://www.vermicular.us/help-center/product-guides/musui-kamado/general#overview">Overview</a></h3>
                        <div class="help-center-accordion__text" style="display: block;">
                            <div class="help-center-accordion__text-inner">
                                <p><strong>What is the Musui–Kamado?</strong></p>
<p>The Musui–Kamado is the world's first cast iron induction cooker. Essentially, it is a precision-machined, enameled cast iron pot nestled within a three-dimensional induction stove, maximizing all the benefits of cast iron cooking by utilizing the precision of induction heating. The Musui–Kamado's strength lies in its versatility—it allows you to heat ingredients up to 445ºF, which is perfect for searing and stir-frying, or used as low as 90ºF, ideal for low-temperature cooking techniques such as sous-vide, fermentation, and proofing.</p>
<p>One of the many areas where the Musui–Kamado performs exceptionally well is rice cooking, as it has a dedicated automatic RICE COOKING mode—as easy to use as any other rice cooker on the market, but with a noticeable difference in flavor and texture.</p>
<p>Watch the <a href="https://vimeo.com/358401319" target="_blank" rel="noreferrer noopener">Musui–Kamado | Product Intro</a> video to see it in action.</p>
<hr>
<p><strong>What comes with your purchase</strong></p>
<p>Your purchase comes with the Musui, a 3.9-quart, enameled cast-iron pot; the Kamado induction stove; 1 hardcover cookbook with over 70 original recipes; 2 measuring cups (one each for water and rice); and 1 cast iron lid stand.</p>
<hr>
<p><strong>Color options</strong></p>
<p>The Musui–Kamado is available in 3 non-toxic colors: Matte Black &amp; Silver, Charcoal, or Sea Salt. If you prefer a different color combination, you can purchase the Musui and the Kamado separately in your color preferences. All Musui–Kamado accessories will come with your purchase, even if you decide to purchase the Musui and Kamado separately.<br></p>
<p>Visit the <a href="https://www.vermicular.us/shop/musui-kamado" target="_blank" rel="noreferrer noopener">Shop</a> page to compare options.</p>
<hr>
<p><strong>When using the Musui on its own</strong></p>
<p>The Musui can be used with the Kamado or on its own without the Kamado. On its own, the Musui is compatible with all gas, electric, and induction stovetops, as well as ovens (oven-safe up to 570ºF).</p>
<hr>
<p><strong>Induction compatibility</strong></p>
<p>The Musui can be used on its own on all types of stovetops, including induction cooktops.</p>
<hr>
<p><strong>Using the Musui–Kamado overseas</strong></p>
<p>The Musui–Kamado's US model is designed to work with 120V only. It will not function properly with a 220–240V electrical system.</p>
<p>We have not tested compatibility with all available transformers on the market. Thus, we cannot officially recommend using the Musui–Kamado with a transformer in a voltage environment other than 120V. Please note that usage outside the US is not covered in our US warranty.<br></p>
<hr>
<p><strong>Available recipes</strong></p>
<p>A purchase of the Musui–Kamado or a standalone Musui comes with a hardcover cookbook with over 70 original recipes to help get you started. Visit our <a href="https://www.vermicular.us/recipes/search-results/musui-kamado?page=1&amp;count=9&amp;categories=34727" target="_blank" rel="noreferrer noopener">Recipes</a> page for more ideas.</p>
<hr>
<p><strong>Musui<strong>–</strong>Kamado vs. other cast iron pots on induction plates</strong></p>
<p>The first key difference between traditional Dutch ovens and the Musui cast iron pot lies in our signature precision seal. The contact area between the Musui's lid and pot is meticulously hand-machined to fit with a gap of less than 0.01 mm. This incredibly tight seal helps to retain moisture, lock in nutrients, and most importantly, enhance the inherent flavors of ingredients.</p>
<p>The second advantage is the Kamado's “three-dimensional" induction heating technology. Unlike two-dimensional cooktops, the Kamado induction stove has a sidewall heater that surrounds the enameled cast iron pot, achieving perfect heat distribution without any hot or cold spots.</p>
<p>The Musui–Kamado's cooking temperature ranges from 90ºF—adjustable in 1ºF increments between 90–200ºF with the precision heat control feature—to 445ºF, which is perfect for searing and stir-frying. It also has a dedicated RICE COOKING mode, which was methodically designed to cook perfect rice at the touch of a button.<br></p>
<hr>
<p><strong>Musui<strong>–</strong>Kamado vs. slow cookers</strong></p>
<p>Textures and flavors are noticeably different—and vastly improved—when cooking with the Musui–Kamado. The Musui cast iron pot has our signature precision seal, which retains virtually all juices and flavors, resulting in superior quality and taste in finished dishes. Compared to slow cookers, simmering time can be reduced by half or more to achieve extra succulent and tender meats.</p>
<p>The Musui–Kamado is more versatile than a slow cooker, enabling you to explore numerous culinary techniques. You can certainly use it as a “set-it-and-forget-it” device, much like a slow cooker, but it can also be used for active cooking—searing meats directly in the pot, for example—and building flavors at various heat settings. This makes it perfect for cooking meals with richer flavor, all in the same pot.</p>
<p>The Musui–Kamado goes up to 445ºF, perfect for searing and stir-frying, utilizing the full benefits of cast iron cooking. There is also a precision temperature control feature, which heats ingredients to exact temperatures and allows for a variety of low-temperature cooking techniques like sous-vide, fermentation, and poofing.</p>
<p>Read the <a href="https://www.vermicular.us/journal/sear-braise" target="_blank" rel="noreferrer noopener">Musui–Kamado | Sear &amp; Braise</a> article to learn more.<br></p>
<hr>
<p><strong>Musui<strong>–</strong>Kamado vs. pressure cookers</strong></p>
<p>The biggest difference, aside from technicalities, is the experience of cooking. A pressure cooker is great for convenience, and perfect for people seeking hands-off cooking, whereas the Musui–Kamado is ideal for home chefs who enjoy the process of cooking and prefer to be a bit more involved.</p>
<p>You can certainly use the Musui–Kamado as a “set-it-and-forget-it” device like a pressure cooker, but you can also actively cook in it, building flavors at various heat settings, making it perfect for cooking one-pot meals with richer flavor. In that regard, the Musui–Kamado is much more flexible and customizable than a traditional pressure cooker.</p>
<p>In terms of versatility, the Musui–Kamado can do everything a pressure cooker can do except for pressure cooking. However, unlike pressure cookers, the Musui–Kamado does not force food to cook faster, retaining superior texture and the flavors of each ingredient.</p>
<p>Watch the <a href="https://vimeo.com/358401319" target="_blank" rel="noreferrer noopener">Musui–Kamado | Product Intro</a> video to see it in action.</p>
                            </div>
                        </div>
                    </div>
                                                <div class="help-center-accordion__item" data-hash="features">
                        <h3 class="help-center-accordion__heading"><a href="https://www.vermicular.us/help-center/product-guides/musui-kamado/general#features">Features</a></h3>
                        <div class="help-center-accordion__text">
                            <div class="help-center-accordion__text-inner">
                                <p><strong>Musui | Signature precision seal</strong></p>
<p>Our signature precision seal is designed to lock in and intensify the inherent flavors of each ingredient.</p>
<p>In our casting process, our proprietary mix of vermicular graphite iron is melted at 2700ºF and carefully poured into sand molds. As the pots cool from such high temperature, they inevitably warp, which creates a gap between the pot and lid. Vermicular is the only cast iron brand with an additional manufacturing process called "precision machining," which eliminates much of this gap. Utilizing over 85 years of cast iron mastery, our craftspeople carefully hand-machine the contact area of each pot and lid to fit with a gap of less than 0.01 mm in variance, creating a precision seal that helps retain moisture.</p>
<p>Because all of the ingredients' juices are retained in the pot, there is no need to add excess water or broth. As a result, the flavors and nutrients are less likely to leach out. This makes a noticeable difference in taste and texture, resulting in a superior quality of finished dishes.</p>
<p>Visit the Musui–Kamado <a href="https://www.vermicular.us/products/musui-kamado/design" target="_blank" rel="noreferrer noopener">Design</a> page to learn more.</p>
<hr>
<p><strong>Musui | Floating lid &amp; self-basting rings</strong></p>
<p><strong>Floating lid</strong><br>The Musui's lid is purposefully designed to be lighter in the front, allowing it to "float" when steam builds up within the pot. By allowing the steam to release, the Floating Lid design is intended to minimize the likelihood of liquid boiling over.</p>
<p><strong>Self-basting rings</strong><br>The double rings and soft spikes on the underside of the lid uniformly distribute condensed steam, self-basting ingredients in their own delectable juices.</p>
<p>Visit the Musui–Kamado <a href="https://www.vermicular.us/products/musui-kamado/design" target="_blank" rel="noreferrer noopener">Design</a> page to learn more.</p>
<hr>
<p><strong>Musui | Double handles</strong></p>
<p>The Musui's ergonomic double handle design—including the handles on both the pot and lid—is unique to Vermicular pots. Having two handles gives you greater control, stability, and ease-of-use when setting or removing the lid.</p>
<p>Forgoing a top knob handle for the double handle design also creates greater temperature variance within the pot. This difference in temperature generates an intense steam convection, which plays a significant role in cooking every grain of rice to perfection.</p>
<p>Visit the Musui–Kamado <a href="https://www.vermicular.us/products/musui-kamado/design" target="_blank" rel="noreferrer noopener">Design</a> page to learn more.</p>
<hr>
<p><strong>Musui | Proprietary enamel coating</strong></p>
<p>The final step in manufacturing the Musui is a triple-layer enamel coating process. The application of our proprietary enamel by hand—a task demanding a great degree of specialized skill and craftsmanship—is unique to Vermicular and crucial in helping distribute heat while cooking, heating ingredients from their core. Our enamel coating—which is composed of glass particles fused at extreme temperatures—improves durability so the Musui can be passed down for generations to come.</p>
<p>The safety of our customers and our craftspeople is of utmost importance to us. We never use toxic materials, like cadmium, to coat any of our products. This is why we offer our cookware in a range of safe, neutral colors.</p>
<p>Visit the Musui–Kamado <a href="https://www.vermicular.us/products/musui-kamado/design" target="_blank" rel="noreferrer noopener">Design</a> page to learn more.</p>
<hr>
<p><strong>Kamado | Three-dimensional induction</strong></p>
<p>High-performance induction coils at the base of the Kamado, paired with a surrounding heater, simulate the engulfing flames of a traditional Japanese <em>kamado</em> stove, but with the added benefits of precision heat control at the touch of a button. The three-dimensional heating achieves uniform heat distribution without any hot or cold spots, and is suitable for all types of cooking.</p>
<p>Visit the Musui–Kamado <a href="https://www.vermicular.us/products/musui-kamado/design" target="_blank" rel="noreferrer noopener">Design</a> page to learn more.</p>
<hr>
<p><strong>Kamado | Precision temperature control</strong></p>
<p>The Musui–Kamado’s precision temperature control allows you to effortlessly sous-vide, without the hassle of vacuum-sealing, or make temperature-sensitive recipes, like poached eggs and custards. You can also proof dough, make yogurt, or even ferment your own miso paste.</p>
<p>Additionally, the Kamado's built-in heat sensor monitors and optimizes heat levels for streamlined temperature control.</p>
<p>Heat Settings:</p>
<ul><li> [MED]: 445ºF</li><li> [LOW]: 300ºF </li><li>[EXT LOW]: 230ºF</li><li>[WARM]: Adjustable in 1ºF increments, between 90–200ºF</li></ul>
<p>Read the <a href="https://www.vermicular.us/journal/precision-cooking" target="_blank" rel="noreferrer noopener">Musui–Kamado | Precision Cooking</a> article to learn more.</p>
                            </div>
                        </div>
                    </div>
                                                <div class="help-center-accordion__item" data-hash="specs">
                        <h3 class="help-center-accordion__heading"><a href="https://www.vermicular.us/help-center/product-guides/musui-kamado/general#specs">Specs</a></h3>
                        <div class="help-center-accordion__text">
                            <div class="help-center-accordion__text-inner">
                                <p>Visit the <a href="https://www.vermicular.us/products/musui-kamado/specs" target="_blank" rel="noreferrer noopener">Specs</a> page for detailed specs information.</p>
                            </div>
                        </div>
                    </div>
                                        </div>

        

</div>
</div>
<div class="help-center-drawer" data-segment="quick-start-guide">
<h2 class="help-center-drawer__title"><a href="https://www.vermicular.us/help-center/product-guides/musui-kamado/quick-start-guide">Quick-Start Guide</a></h2>
<div class="help-center-drawer__body" style="display: none;">


                            <div class="help-center-text">
                <p>Read the <a href="https://www.vermicular.us/get-started/musui-kamado" target="_blank" rel="noreferrer noopener">Musui–Kamado | Quick-Start Guide</a><a href="https://www.vermicular.us/get-started/musui-kamado"> </a>for helpful tips before your first use.</p>
            </div>
    
    

</div>
</div>
<div class="help-center-drawer" data-segment="cooking">
<h2 class="help-center-drawer__title"><a href="https://www.vermicular.us/help-center/product-guides/musui-kamado/cooking">Cooking</a></h2>
<div class="help-center-drawer__body">


                            <div class="help-center-accordion">
                                                <div class="help-center-accordion__item" data-hash="cooking-mode">
                        <h3 class="help-center-accordion__heading"><a href="https://www.vermicular.us/help-center/product-guides/musui-kamado/cooking#cooking-mode">Cooking Mode</a></h3>
                        <div class="help-center-accordion__text">
                            <div class="help-center-accordion__text-inner">
                                <p><strong>Cooking techniques</strong></p>
<p>The Musui–Kamado essentially maximizes all the benefits of cast iron cooking, while utilizing the precision of induction. There are various ways you can use the Musui–Kamado, but the most significant differences can be found in the following cooking techniques.</p>
<p><strong>Steam-roast</strong><br>With the Musui’s signature precision seal, you can steam and roast simultaneously, achieving vegetables that are consistently crisp on the outside and perfectly sweet and tender on the inside. You can also cook juicy and delicately textured chicken and fish with this unique cooking technique.</p>
<p>Watch the <a href="https://vimeo.com/591857672" target="_blank" rel="noreferrer noopener">Musui–Kamado | Steam-Roast</a> video for a step-by-step tutorial.<br></p>
<p><strong>Braise &amp; stew</strong><br>With its great heat retention and distribution, the Musui–Kamado is ideal for low and slow braises and stews. The Musui's precision seal will keep liquid from evaporating, requiring less braising liquid as a result. This helps to retain more flavor, ensuring delicious tenderness every time. Say goodbye to dry and flavorless meat.</p>
<p>Watch the <a href="https://vimeo.com/580051734#t=68s" target="_blank" rel="noreferrer noopener">Musui–Kamado | Braise &amp; Stew</a> video for a step-by-step tutorial.<br></p>
<p><strong>Precision cooking</strong><br>The Musui–Kamado has a precision temperature control that allows you to adjust cooking temperature in 1ºF increments between 90–200ºF. With this level of precision, you can sous-vide proteins, proof dough, and even ferment your own yogurt or miso.</p>
<p>Watch the <a href="https://vimeo.com/590732725" target="_blank" rel="noreferrer noopener">Musui–Kamado | Precision Cooking</a> video for a step-by-step tutorial.<br><br><strong>Rice cooking</strong><br>You can make perfect, fluffy rice at the touch of a button with the Musui–Kamado’s dedicated RICE COOKING mode. In fact, the Musui–Kamado is marketed as a rice cooker in Japan, setting a whole new standard for rice.</p>
<p>Watch the <a href="https://vimeo.com/588484631" target="_blank" rel="noreferrer noopener">Musui–Kamado | Rice Cooking</a> video for a step-by-step tutorial.</p>


<hr>
<p><strong>Steam-roasting vegetables</strong></p>
<p>Steam-roasting is arguably one of the most delicious and healthy methods of vegetable preparation. The Musui–Kamado's ability to steam and roast in tandem crisps and browns exteriors, while leaving insides sweet and tender.</p>
<p>Read the <a href="https://www.vermicular.us/journal/steam-roast" target="_blank" rel="noreferrer noopener">Musui–Kamado | Steam-Roast</a> article to learn more.<br></p>
<hr>
<p><strong>Converting slow cooker recipes</strong></p>
<p>When cooking slow cooker recipes in the Musui–Kamado, it is important to keep in mind the two points below.</p>
<p><strong>Reduce cook time</strong><br>The Musui–Kamado's cast iron pot has excellent heat retention properties, while its precision seal generates intense steam convection within the pot, which cooks food faster. As a rule of thumb, any slow cooker recipe's cook time can be reduced to half (½) or even to a third (⅓). You may find that a roast recipe requiring 6–8 hours in a slow cooker, for example, will be perfectly cooked in the Musui–Kamado after just 3 hours.</p>
<p><strong>Reduce braising liquid</strong><br>The precision seal of the Musui helps retain moisture and juices within the pot, which allows you keep braising liquid to a minimum. As a general rule, you can add just enough liquid to cover the ingredients. If you cook with ingredients that have a high water content, such as onions and tomatoes, you may want to add even less liquid.</p>
<p>Watch the <a href="https://vimeo.com/580051734#t=68s" target="_blank" rel="noreferrer noopener">Musui–Kamado | Braise &amp; Stew</a> video for a step-by-step tutorial.</p>
<hr>
<p><strong>Preventing liquids from boiling over</strong></p>
<p>Please be extra careful when boiling or stewing with the Musui–Kamado. Here are a few tips to minimize liquids from boiling over:</p>
<ul><li>Avoid filling the pot more than halfway with liquid (water, soup, etc.)</li><li>When boiling or stewing liquids over [MED] heat, always leave the pot uncovered. Be sure to set the temperature to [LOW] once the liquid has come to a boil.</li></ul>
<p>Watch the <a href="https://player.vimeo.com/video/739775649?h=463624630f">Musui–Kamado | Preventing Liquids from Boiling Over</a> video for helpful tips.</p><hr>
<p><strong>Power Off timer</strong></p>
<p>The Musui–Kamado can be set to automatically power off after a certain length of time. See below for maximum length based on the heat setting used.</p>
<ul><li>[MED], [LOW], and [EXT LOW]: Up to 6 hours</li><li>[WARM]: Up to 12 hours</li></ul>
                            </div>
                        </div>
                    </div>
                                                <div class="help-center-accordion__item" data-hash="rice-cooking-mode">
                        <h3 class="help-center-accordion__heading"><a href="https://www.vermicular.us/help-center/product-guides/musui-kamado/cooking#rice-cooking-mode">Rice Cooking Mode</a></h3>
                        <div class="help-center-accordion__text">
                            <div class="help-center-accordion__text-inner">
                                <p><strong>Basic rice cooking steps</strong></p>
<p>With the Musui–Kamado's automatic RICE COOKING mode, you can cook rice in just a few, simple steps. (To enable RICE COOKING mode, the internal clock must first be set. Watch <a href="https://player.vimeo.com/video/726388438?h=1bc31d558c" target="_blank" rel="noreferrer noopener">Musui–Kamado | Setting the Clock</a> video to learn how.)</p>
<ol><li>Select [RICE COOKING] mode.<br></li><li>Select rice type: white [WHT] or brown [BRWN]. Next, select the desired finish: normal [NORM], scorched (crispy rice) [SCORCH], or porridge [PORR]. Then, select the amount of rice you are cooking between [1.0–4.0] rice cups and select OK.</li><li>Set your desired completion time and select [START] to begin soaking.</li></ol>
<p>Watch the <a href="https://vimeo.com/588484631" target="_blank" rel="noreferrer noopener">Musui–Kamado | Rice Cooking</a> video for a step-by-step tutorial.</p>
<hr>
<p><strong>Water quantity</strong></p>
<p>We recommend a rice-to-water ratio of 1:1.05, which equates to 189 ml of water to 180 ml of rice (1 rice cup). The included water measuring cup is already scaled to 189 ml for every rice cup.</p>
<p>Please note that the standard US cup is 240 ml, but our rice cup is 180 ml. <br></p>
<hr>
<p><strong>Default cook times</strong><br></p>
<ul><li>White rice: <br>Approximately 60 minutes (includes 30-minute soak time and 30-minute cook time).</li></ul>
<ul><li>Brown rice<em>:<br></em>Approximately 70 minutes without soak time. Pre-soaking is required separately. We recommend soaking for 6 hours in a bowl, then transferring the drained rice to the Musui.</li></ul>
<hr>
<p><strong>Setting completion time</strong></p>
<p>You can set the desired completion time of your rice up to 12 hours in advance. The clock is displayed in military time (24-hour format) and refers to the completion time, or time of day, instead of a countdown timer. (For example, if you set the completion time to 18:30, your rice will finish cooking at 6:30 PM, <em>not</em> in 18 minutes and 30 seconds.)<br></p>
<hr>
<p><strong><strong>Washing rice</strong></strong></p>
<p>Rice should always be washed before soaking and/or cooking. Following the proper washing method for the type of rice you are cooking is what sets apart deliciously textured, fluffy grains of rice from average, run-of-the-mill rice.<br></p>
<p>See <a href="https://www.vermicular.us/help-center/product-guides/musui-kamado/cooking/washing-rice">here</a> for step-by-step instructions.</p>
<hr>
<p><strong>Soaking rice</strong></p>
<p><strong>Optimal soak times</strong></p>
<ul><li>White rice: <br>The default cook time for white rice is approximately 60 minutes (including 30 minutes of soaking). If you desire a faster cook time, you can reduce or eliminate the soaking step—shortening the cook time to 30 minutes—however, for best results, we recommend soaking the rice prior to cooking.</li></ul>
<ul><li>Brown rice: <br>We recommend soaking 6 hours for best results or a minimum of 2 hours.<br><br></li></ul>
<p><strong>Reducing soak time</strong><br>Though we recommend soaking, you can reduce or eliminate the soaking time by pressing the [∨] icon beneath the clock display. A red [QUICK] icon will display, indicating that you have reduced the time from the default setting. The fastest time you can cook white rice is in 30 minutes (removing the default 30-minute soak time completely).</p>
<hr>
<p><strong>Rice finish</strong></p>
<ul><li>Rice porridge [PORR]: <br>For porridge, 1 cup of white rice with 900 ml water will make a full pot of porridge. When using PORRIDGE MODE, make sure to cook uncovered to keep water from boiling over. PORRIDGE MODE is only available for white rice and a maximum of 1.5 rice cups.</li></ul>
<ul><li>Scorched rice [SCORCH]: <br>Using SCORCHED MODE allows you to enjoy a delicious bottom layer of crispy rice on the bottom just like a <a href="https://www.vermicular.us/recipes/bibimbap" target="_blank" rel="noreferrer noopener">bibimbap</a> cooked in a stone pot. SCORCHED MODE is available for both white or brown rice and a maximum of 4 rice cups.<strong><br></strong></li></ul>
<hr>
<p><strong>Mixed rice</strong></p>
<p>The key to making perfect mixed rice is to adjust the rice amount setting when adding ingredients. Increase 1 rice cup for every additional 330 g (11.6 oz) of ingredients when cooking mixed rice. Then, immediately start rice cooking once you add in seasoning.</p>
<hr>
<p><strong>"Keep Warm" function</strong><br></p>
<p>The Musui–Kamado does not have a "Keep Warm" function specifically for rice. In fact, we do not recommend letting cooked rice sit in the pot for long, as this will diminish its flavor and texture over time. Instead, we recommend freezing unused rice to preserve maximum moisture and flavor. Transfer the rice—while it's still warm—to a freezer-safe container. You can then microwave the rice to defrost it, and it will have the same flavor and texture as if freshly cooked.</p>
<hr>
<p><strong>Cooking steel-cut oats</strong></p>
<p>You can cook steel-cut oats using the Musui–Kamado just as you would on a stovetop, but for hands-off cooking, we recommend using the brown rice [BRWN] setting within RICE COOKING mode.</p>
<ol><li>Select [RICE COOKING] mode.</li><li>Select rice type: brown [BRWN]. Next, select the desired finish: normal [NORM]. Then, select the amount of oats you are cooking between [1.0–4.0] rice cups and select OK.</li><li>Set your desired completion time and select [START] to begin soaking.</li></ol>
<p>We recommend using an oats-to-water ratio of 1:2 as a baseline and adjust the amount of water based on your preference.</p>
                            </div>
                        </div>
                    </div>
                                        </div>

        

</div>
</div>
<div class="help-center-drawer" data-segment="cleaning-care">
<h2 class="help-center-drawer__title"><a href="https://www.vermicular.us/help-center/product-guides/musui-kamado/cleaning-care">Cleaning &amp; Care</a></h2>
<div class="help-center-drawer__body" style="display: none;">


                            <div class="help-center-text">
                <p><strong>Musui | Preventing &amp; removing rust from the rims</strong></p>
<p><strong>Preventing rust</strong><br>In order to achieve the precision seal, the contact area between the Musui's pot and lid has intentionally not been coated in enamel. As a result, it is subject to rusting. Here are a few tips to minimize the formation of rust.</p>
<ul><li>Always dry the pot immediately after washing. Make sure the rims are dried thoroughly with a dry cloth.</li><li>Season the rims of the pot and lid by coating with a thin layer of cooking oil, especially before the first several uses.</li><li>Lightly apply cooking oil on the rims before braising and/or stewing, or when cooking with acidic ingredients.</li><li>Lightly apply cooking oil on the rims when storing food inside the pot for a long period of time.</li></ul>
<p><strong>Removing rust</strong><br>In the event that rust appears, you can easily remove it by using mild dish soap on the affected area. If rust persists, you can follow either of the instructions below.</p>
<ul><li>Sprinkle baking soda on the rims and scrub gently with a wet sponge.</li><li>Apply <em>Bar Keeper's Friend Soft Cleanser</em> on the rims and scrub gently.</li></ul>
<p>Once cleaned of rust, coat the rims with a thin layer of cooking oil to prevent it from developing again.</p>
<p>Watch the <a href="https://player.vimeo.com/video/726388456?h=ec71384a35" target="_blank" rel="noreferrer noopener">Musui–Kamado | Removing Rust</a> video for a visual guide.<br></p>
<hr>
<p><strong>Musui | Removing burnt food</strong></p>
<p>If excessively high temperatures are used to cook, or there is not enough moisture in the pot, food may burn and leave a residue. To remove burnt food, we recommend using baking soda to clean.</p>
<p>See <a href="https://www.vermicular.us/help-center/product-guides/musui-kamado/cleaning-care/removing-burnt-food">here</a> for step-by-step instructions.<br></p>
<hr>
<p><strong>Musui | Removing discoloration</strong></p>
<p>The Musui can develop discoloration when cooking with ingredients that contain high levels of pigment, such as tomato sauces or certain spices. To clean your pot of any discoloration that may have developed, see <a href="https://www.vermicular.us/help-center/product-guides/musui-kamado/cleaning-care/removing-discoloration" target="_blank" rel="noreferrer noopener">here</a> for step-by-step instructions.</p>
<p><a href="https://www.vermicular.us/help-center/product-guides/musui-kamado/cleaning-care/if-liquids-boil-over"></a></p>
<hr>
<p><strong>Musui | Removing white spots</strong></p>
<p>The Musui can sometimes develop white spots, which are stains caused by cooking with starchy ingredients, like beans, or mineral deposits from water. To clean your pot of any white spots, see <a href="https://www.vermicular.us/help-center/product-guides/musui-kamado/cleaning-care/removing-white-spots">here</a> for step-by-step instructions.</p>
<p><a href="https://www.vermicular.us/help-center/product-guides/musui-kamado/cleaning-care/if-liquids-boil-over"></a></p>
<hr>
<p><strong>Musui | Removing stuck-on rice</strong></p>
<p>If cooked rice is not immediately transferred out of the pot, the grains will harden and stick. To easily remove stuck-on rice, see <a href="https://www.vermicular.us/help-center/product-guides/musui-kamado/cleaning-care/removing-stuck-on-rice" target="_blank" rel="noreferrer noopener">here</a> for step-by-step instructions.</p>
<p>To minimize sticking in the first place, we recommend always fluffing the rice with a wet spatula right after it finishes cooking, using it to scrape the grains from the sides of the pot towards the center. If not serving immediately, transfer the rice to a freezer-safe container and freeze.</p>
<hr>
<p><strong>Musui | Dishwasher use</strong></p>
<p>The Musui will last a long time if properly and gently cared for. We recommend washing with mild soap and a soft sponge, as the enamel coating is easy to clean. However, if you do plan to use a dishwasher/dryer, please note the following points:</p>
<ul><li>Be sure the pot is not in contact with other kitchenware to avoid damage upon potential impact.</li><li>Be sure your detergent does not contain abrasives and bleaches.</li></ul>
<hr>
<p><strong>Kamado | Cleaning and maintenance</strong></p>
<p>To keep the Kamado in pristine condition, follow the steps below.</p>
<ul><li>For general upkeep, use a damp cloth to clean the entire surface of the Kamado. Never immerse the device in water or any other liquids.</li><li>Make sure to keep the upper ring area free of oil splatter after cooking.</li><li>For tough stains, use a soft cloth with mild dish soap. Then, dry thoroughly with a separate cloth.</li><li>To clean the glasstop within the Kamado, sprinkle a pinch of baking soda and scrub gently. Then, clean with a damp cloth.</li><li>Make sure to keep the air vents free of dust, as build-up may result in malfunction. Use a vacuum cleaner to remove any dust from the vents.</li></ul>
<p>Watch the <a href="https://vimeo.com/580049855#t=133s" target="_blank" rel="noreferrer noopener">Musui–Kamado | Quick-Start Guide</a> video for helpful cleaning tips.</p>
<hr>
<p><strong>Kamado | If liquid boils over</strong></p>
<p>In the event that liquids boil over, never tilt the Kamado, as the liquid may cause damage to the circuit board.</p>
<p>To drain the Kamado of liquid, see <a href="https://www.vermicular.us/help-center/product-guides/musui-kamado/cleaning-care/if-liquids-boil-over" target="_blank" rel="noreferrer noopener">here</a> for step-by-step instructions.</p>
<p><a href="https://vimeo.com/322126813"></a></p>
            </div>
    
    

</div>
</div>
<div class="help-center-drawer" data-segment="warranty">
<h2 class="help-center-drawer__title"><a href="https://www.vermicular.us/help-center/product-guides/musui-kamado/warranty">Warranty</a></h2>
<div class="help-center-drawer__body">


                            <div class="help-center-text">
                <p>3-Year Limited Warranty: VERMICULAR USA (“VERMICULAR”) warrants that for a period of three (3) years from the date of purchase, this product will be free from defects in material and workmanship. VERMICULAR, at its option, will repair or replace the product found to be defective during the warranty period.</p>
<p>This warranty is valid for the original retail purchaser and is not transferable. Please keep the original sales receipt. Proof of purchase is required to obtain warranty service.</p>
<p>This warranty is extended to the owner of this product for personal household use only. This warranty does not apply to products used for commercial, rental or resale purposes.</p>
<p>To qualify for this warranty, the customer is responsible for ensuring that the operating instructions and safety precautions, with regard to use, cleaning, and maintenance of the product, have been strictly observed and followed.</p>
<p>This warranty is valid in USA and Canada only.</p>
<p>Exclusions: This warranty does not cover and specifically excludes breaches of the warranted elements caused by or due to factors and conditions beyond normal use, including events beyond the control of VERMICULAR, including without limitation, any of the following: negligent use or misuse of the product, mishandling of the product including drops, use on improper voltage or current, exposure to abnormal or extreme conditions, or disassembly, repair, or alteration by anyone other than VERMICULAR or authorized representatives. Further, the warranty does not cover: acts of God or other force majeure events including but not limited to fire, flood, hurricanes and tornadoes.</p>
<p>VERMICULAR SHALL NOT BE LIABLE EITHER IN CONTRACT OR TORT FOR INDIRECT, CONSEQUENTIAL, SPECIAL, OR INCIDENTAL DAMAGES OR LOST REVENUE, LOST PROFITS, OR LOSS OF USE UNDER ANY THEORY OF LAW.</p>
<p>Shipping: Customer will arrange and pay for shipping and handling charges for the unit to be returned to VERMICULAR. VERMICULAR will arrange and pay for shipping and handling for the return of the unit to the customer.</p>
<p>Claim: To make a warranty claim, please contact VERMICULAR USA at <a href="mailto:support@vermicular.us" target="_blank" rel="noreferrer noopener">support@vermicular.us</a>.</p>
            </div>
    
    

</div>
</div>


                                                        <div class="help-center-data" data-hero-src="https://www.vermicular.us/images/help-center/_hero/hero_hc_subcat_musui-kamado.jpg" data-hero-mobile-src="https://www.vermicular.us/images/help-center/_heroMobile/hero_hc_subcat_musui-kamado_mobile.jpg" data-title="Musui–Kamado" data-entry-title="Musui–Kamado"></div>

</div>







        </div>

       <div class="help-center__loading">Loading<i class="icon-spin2 animate-spin"></i></div>
    </div>

    <div class="help-center__contact-wrap--mobile">
        <div class="help-center__contact">
<h3 class="help-center__contact-heading">
Contact Support
</h3>
<div class="help-center__contact-email">

    <script type="text/javascript">Rot13.write('<n uers="znvygb:fhccbeg@irezvphyne.hf?fhowrpg=Jrofvgr vadhvel"><vzt fep="uggcf://jjj.irezvphyne.hf/nffrgf/vzt/vpba_znvy.fit" nyg=""><fcna>fhccbeg@irezvphyne.hf</fcna></n>');</script><a href="mailto:support@vermicular.us?subject=Website inquiry"><img src="https://www.vermicular.us/assets/img/icon_mail.svg" alt=""><span>support@vermicular.us</span></a><noscript><span style="unicode-bidi:bidi-override;direction:rtl;">>naps/<su.ralucimrev@troppus>naps<>""=tla "gvs.liam_noci/gmi/stessa/su.ralucimrev.www//:sptth"=crs gmi< < su.ralucimrev@troppus > </span></noscript>
</div>
</div>                </div>
</div>
</div>

</div>
</div>

{{ 'css-help-center' | asset_url | stylesheet_tag }}
<script src="{{ 'faq-help-center.js' | asset_url }}" defer="defer"></script>